<div>

  <div>
    Welcome {{user.name.firstname}}!
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
   <tr *ngFor="let prod of cartData.products">
      <td>
        <img height="50px" width="40px" [src]="prod.details?.image"/>
      </td>
     <td>
       {{prod.details?.title}}
     </td>
     <td>{{prod.quantity}}</td>

     <td>
       {{prod.details?.price}}</td>

     <td>
       <b> {{prod.details?.price * prod.quantity }}</b>
     </td>

   </tr>

  </table>
  <hr/>
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2"><h4>Total: 0</h4></div>

  </div>
  <hr/>
</div>
